{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}
    Рейтинг
{% endblock  %}

{% block content %}
<form action='' method='post'>{% csrf_token %}
    <div style='text-align: center; margin-left: 100px;'>
      {% for field in form %}
      <div class="row">
        <p class="col-md-10">
          {{field.label_tag}} {{field}} <input type='submit' 
            value='В Ы Б Р А Т Ь'
            class='btn btn-outline-primary btn-sm'>
        </p>
      </div>
      {% endfor %}
    </div>
  </form>
  <div style='padding-left: 100px; padding-right: 100px;'>
  <ul class="list-group">
        {% for key, value in rating.items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="ms-2 me-auto"><a href="{% url 'stats:all_categories' botid key.id %}">{{key}}</a></div>
                <h5><span class="badge bg-primary">{{value.0}}</span></h5>&nbsp;&nbsp;
                <h5><span class="badge bg-info  text-dark">+ {{value.1}} за 7 дней</span></h5>
                <h5>
                  <a href="{% url 'stats:userchart' botid key.id %}" target="popup"
                    onclick="window.open('{% url 'stats:userchart' botid key.id %}', 'Chart', 'width=1000,height=600,resizable=no,scrollbars=no'); return false;">
                    &nbsp;&nbsp;<i class="ri-bar-chart-2-fill  ri-lg"></i></a>
                </h5>
              </li>
        {% endfor %}
  </ul>
</div>
{% endblock  %}
