{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}
  Настраиваем расписание бота
{% endblock  %}

{% block content %}
  <form action='' method='post'>{% csrf_token %}
    <div style='text-align: center; margin-left: 100px;'>
      {% for field in form %}
      <div class="row">
        <div class="col-md-10"><p>
          {{field.label_tag}}<br>
          {% if field.help_text %}
            {{field.help_text}}<br>
          {% endif %}
          {{field}}</p>
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-10">
          <input type='submit' 
            value='И З М Е Н И Т Ь'
            class='btn btn-primary'>
        </div>
      </div>
    </div>
  </form>
{% endblock  %}
