{% if botid %}
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'bots:index' %}">
          <i class="ri-robot-fill ri-1x"></i>
          <span>Боты</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'users:index' botid %}">
          <i class="ri-team-fill ri-1x"></i>
          <span>Учащиеся</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'content:category' botid %}">
          <i class="ri-file-text-fill ri-1x"></i>
          <span>Контент</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'stats:all_categories' botid 'all' %}">
          <i class="ri-bar-chart-fill ri-1x"></i>
          <span>Статистика</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'stats:rating' botid %}">
          <i class="ri-sort-asc ri-1x"></i>
          <span>Рейтинг</span>
        </a>
      </li>
    </ul>

{% else %}
    выберите бота<br />или<br />создайте нового
{% endif %}
<hr>
<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'tarifs:index' %}">
      <i class="ri-wallet-3-line ri-1x"></i>
      <span>Тарифы</span>
    </a>
  </li>
</ul>
