{% load static %}

<footer id="footer" class="footer" style="text-align: center;">
  <div class="row align-items-top">
    <div class="col-lg-4">
      <!-- Default Card -->
      <div class="card">
        <div class="card-body"><br>
          Самозанятый<br>Афонин Сергей Борисович<br />ИНН 501102288506
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Default Card -->
      <div class="card">
        <div class="card-body"><br>
          Контакты<br />
          <style type="text/css">
            .domain::before {
              content: "\0040";
            }
          </style>hello<span class="domain">studybot.fun</span><br><br>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Default Card -->
      <div class="card">
        <div class="card-body"><br>
          Правовая информация<br /><a href="http://hello.studybot.fun/agreement/" target="_blank">Соглашение
            об использовании ПО</a><br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright &copy;<script>
      document.write(new Date().getFullYear());
    </script> All rights reserved | <a href="https://StudyBot.FUN" target="_blank">StudyBot.FUN</a> |
    <a href="https://vk.com/afoninsb" target="_blank">Афонин С.Б.</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
