{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}
    Задания категории {{ category_name }}
{% endblock  %}

{% block content %}
    <ul class="list-group">
        {% for task in page_obj %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto"><a href="{% url 'content:task' botid category_id task.id %}">{{ task.id }}. {{ task }}</a></div>
                <span class="badge">
                    <a href='#' title='Удалить задачу' onclick="
                    Swal.fire({
                        icon: 'warning',
                        title: 'Вы точно хотите удалить задачу? Удалится также вся статистика по этой задаче.',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Да! Удаляем!',
                        cancelButtonText: 'Нет! Я передумал...'
                    }).then(function(inputvalue){
                        if(inputvalue.isConfirmed){
                            window.location.href = '{% url 'content:task_del' botid category_id task.id %}';
                        } else {
                            Swal.fire('Хорошо. Оставляем.', '', 'success')
                        }
                    });">
                        <i class="ri-delete-bin-5-fill ri-xl" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить задачу" style="cursor: pointer;"></i>
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% include 'includes/paginator.html' %}
{% endblock  %}