{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}
    Задание "{{ task.title }}"
{% endblock  %}

{% block content %}{% autoescape off %}
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">{{ task.text|linebreaks }}</p>
                <p class="card-text"><b>Ответ</b>: {{ task.answer }}</p>
                {% if task.time not in NULL %}<b>Выдана</b>: {{ task.time }}
                {% else %}<b>Не выдавалась</b>{% endif %}
            </div>
        </div>
        {% if task.img %}
            <div class="col-md-4">
                <img src="{{ MEDIA_URL }}{{ task.img }}" class="img-fluid rounded-start">
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        <span class="left"><a href="{% url 'content:category_tasks' botid categoryid %}"><< обратно в категорию</a></span>
        <span class="badge right" >
          <a href="{% url 'content:task_edit' botid categoryid task.id %}" title="Редактировать задачу">
            <i class="ri-edit-line ri-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать задачу"></i></a>
        </span>
        <span class="badge right">&nbsp;</span>
        <span class="badge right">
          <a href="#" title='Удалить задачу' onclick="
            Swal.fire({
                icon: 'warning',
                title: 'Вы точно хотите удалить задачу?',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Да! Удаляем!',
                cancelButtonText: 'Нет! Я передумал...'
            }).then(function(inputvalue){
                if(inputvalue.isConfirmed){
                    window.location.href = '{% url 'content:task_del' botid categoryid task.id %}';
                } else {
                    Swal.fire('Хорошо. Оставляем.', '', 'success')
                }
            });">
            <i class="ri-delete-bin-5-fill ri-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить задачу {{ task.id }}" style="cursor: pointer;"></i>
          </a>
        </span>
      </div>
{% endautoescape %}{% endblock  %}
